.HbKSlider {
    width: 100%;
}
.sliderWrapper {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.Blockswrapper:after {
    content: '';
    display: table;
    width: 100%;
}
.Blockswrapper .wrap {
    display: none;
}
.Blockswrapper .carousel.wrap {
    float: left;
}
.Blockswrapper .fade.wrap {
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    width: 100%;
}
.Blockswrapper .fade.active.wrap {
    opacity: 1;
    position: relative;
    display: none;
}
.Blockswrapper .fade.active.wrap:first-of-type {
    display: block;
}
.Blockswrapper .wrap img {
    width: 100%;
    /*height: auto;*/
    max-width: 100%;
    max-height: 100%;
}

/*Стрелки/////////////*/
.wrapArrows {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.sliderArrows {
    background: transparent;
    position: absolute;
    top: 0;
    width: 15px;
    height: 100%;
}
.sliderArrows.left {
    cursor: pointer;
    left: 0;
    background: url('images/slider-arrs-left.png') no-repeat left center;
    background-size: contain;
}
.sliderArrows.right {
    cursor: pointer;
    right: 0;
    background: url('images/slider-arrs-right.png') no-repeat right center;
    background-size: contain;
}
.checkWrapper {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: -34px;
    padding-bottom: 16px;
}
.checkButtons {
    display: inline-block;
    list-style-type: none;
}
.checkButtons li {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #fff;
    width: 13px;
    height: 13px;
    margin-right: 7px;
}
.checkButtons li.active,
.checkButtons li:hover {
    background: #34495e;
}