.row-fluid .progress {
    border-radius: 0;
    margin: 0;
    display: none;
    height: 10px;
}
.img-width {
    max-width: 200px;
}
.bg-warning {
    padding: 15px;
}
nav .exit {
    text-align: right;
    padding-top: 4px;
    color: #fff;
}
nav a {
    color: #9d9d9d;
}
nav a:hover {
    color: #fff;
    text-decoration: none;
}