.row-fluid .progress {
    border-radius: 0;
    margin: 0;
    display: none;
    height: 10px;
}
.img-width {
    max-width: 200px;
}
.bg-warning {
    padding: 15px;
}
nav .exit {
    text-align: right;
    padding-top: 4px;
    color: #fff;
}
nav a {
    color: #9d9d9d;
}
nav a:hover {
    color: #fff;
    text-decoration: none;
}
table a.btn-primary,
table a.btn-danger {
    color: #fff;
}
table tr td:last-of-type  {
    text-align: right;
}
#billing-update, .row-fluid.add {
    margin-bottom: 20px;
}
.form-group.billing-data {
    margin-bottom: 0;
    color: #bfbfbf;
    font-weight: bold;
}
.form-group.billing-data p {
    margin-bottom: 0;
    margin-top: 5px;
    color: #bfbfbf;
    font-weight: bold;
    font-size: 13px;
    padding: 0;
    padding-left: 12px;
}
.checkbox-inline img {
    width: 38%;
    margin-left: 15px;
}
.form-group.info-data {
    margin-bottom: 0;
    margin-top: 35px;
}
.form-group.info-data .bg-info {
    padding: 15px;
}
.sort {
    margin-top: 20px;
}
#save-sort {
    display: none;
}
.row-fluid.sections {
    margin-top: 10px;
}
.col-md-1 {
    text-align: center;
}
#accordion > li {
    position: relative;
}
#accordion > li:not(:last-of-type) {
    margin-bottom: 5px;
}
#accordion a {
    text-decoration: none;
}
.ui-accordion .ui-accordion-header {
    padding: 10px;
    outline: none;
    margin-top: 0;
    display: flex;
}
#accordion .sub-cat {
    padding: 0 !important;
    width: 100%;
    /*height: auto !important;*/
}
#accordion .sub-cat li {
    padding: 10px;
    background: #fff;
    display: flex;
}
#accordion .sub-cat li:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}
#accordion .data {
    display: flex;
    justify-content: flex-end;
}
#accordion .data .row .btn-primary,
#accordion .data .row .btn-success,
#accordion .data .row .btn-danger {
    color: #fff;
}
#accordion .data .row .btn-default {
    color: #000;
}
#accordion .sub-cat .data.col-md-1 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
#accordion .sub-cat .data.col-md-1, #accordion .sub-cat .btn-group-vertical {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
#accordion .sub-cat .btn-group-vertical a {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon, .ui-state-default .ui-icon {
    background: none;
    display: none;
}
.sections .table {
    margin: 0;
}
.sections.sort {
    border: 1px dashed #357ebd;
    padding: 5px;
}
.row-fluid.sections {
    margin-top: 10px;
}
.row-fluid.options:after {
    content: '';
    display: table;
    clear: both;
}
.row-fluid.options .nav > li > a:hover,
.row-fluid.options .nav > li > a:focus {
    background: #4f9c4f;
}
.row-fluid.options .nav a .caret {
    margin-left: 5px;
}
.sort {
    margin-top: 20px;
    clear: both;
}
.row-fluid {
    outline: none;
    margin-bottom: 20px;
}
#accordion .sub-cat > .ui-state-highlight {
    background: rgba(57, 130, 213, 0.29);
    height: 25px;
    border: 1px dashed rgba(35, 199, 213, 0.46);
}
#accordion > .ui-state-highlight,
#sort-table .ui-state-highlight {
    background: rgba(57, 130, 213, 0.29);
    padding: 22px .7em;
    height: 50px;
    border: 1px dashed rgba(35, 199, 213, 0.46);
}
.form-control {
    display: inline-block;
    width: calc(100% - 35px);
}
.flag {
    width: 25px;
    margin-right: 10px;
}
#accordion div[class^="col"] {
    overflow: hidden;
}
.col-lg-10 textarea {
    vertical-align: middle;
}
.option-icon i {
    font-size: 24px;
    margin-left: 10px;
    vertical-align: middle;
}
.option-checked {
    text-align: center;
}
.ui-accordion .ui-accordion-header,
.ui-helper-reset {
    font-size: 14px;
}
.required label[for]:after {
    content: "*";
    color: red;
}

@media (max-width: 992px) {
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%;
    }
}