/*Roboto////////////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Thin.eot');
    src: url('/fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Thin.woff') format('woff'),
        url('/fonts/roboto/Roboto-Thin.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-ThinItalic.eot');
    src: url('/fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
        url('/fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Light.eot');
    src: url('/fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Light.woff') format('woff'),
        url('/fonts/roboto/Roboto-Light.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-LightItalic.eot');
    src: url('/fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('/frontend/fonts/roboto/Roboto-LightItalic.woff') format('woff'),
        url('/fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Regular.eot');
    src: url('/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('/fonts/roboto/Roboto-Regular.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Italic.eot');
    src: url('/fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Italic.woff') format('woff'),
        url('/fonts/roboto/Roboto-Italic.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Medium.eot');
    src: url('/fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('/fonts/roboto/Roboto-Medium.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-MediumItalic.eot');
    src: url('/fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
        url('/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Bold.eot');
    src: url('/fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('/fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('/fonts/roboto/Roboto-Bold.ttf') format('truetype'),
    url('/fonts/roboto/Roboto-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-BoldItalic.eot');
    src: url('/fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('/fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
    url('/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'),
    url('/fonts/roboto/Roboto-BoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Black.eot');
    src: url('/fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('/fonts/roboto/Roboto-Black.woff') format('woff'),
        url('/fonts/roboto/Roboto-Black.ttf') format('truetype'),
        url('/fonts/roboto/Roboto-Black.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-BlackItalic.eot');
    src: url('/fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('/fonts/roboto/Roboto-BlackItalic.woff') format('woff'),
    url('/fonts/roboto/Roboto-BlackItalic.ttf') format('truetype'),
    url('/fonts/roboto/Roboto-BlackItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/*Roboto Slab////////////////////////////////////////////////////////////////////*/
@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/roboto-slab/RobotoSlab-Thin.eot');
    src: url('/fonts/roboto-slab/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto-slab/RobotoSlab-Thin.woff2') format('woff2'),
    url('/fonts/roboto-slab/RobotoSlab-Thin.woff') format('woff'),
    url('/fonts/roboto-slab/RobotoSlab-Thin.ttf') format('truetype'),
    url('/fonts/roboto-slab/RobotoSlab-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/roboto-slab/RobotoSlab-Light.eot');
    src: url('/fonts/roboto-slab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto-slab/RobotoSlab-Light.woff2') format('woff2'),
    url('/fonts/roboto-slab/RobotoSlab-Light.woff') format('woff'),
    url('/fonts/roboto-slab/RobotoSlab-Light.ttf') format('truetype'),
    url('/fonts/roboto-slab/RobotoSlab-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/roboto-slab/RobotoSlab-Regular.eot');
    src: url('/fonts/roboto-slab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto-slab/RobotoSlab-Regular.woff2') format('woff2'),
    url('/fonts/roboto-slab/RobotoSlab-Regular.woff') format('woff'),
    url('/fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype'),
    url('/fonts/roboto-slab/RobotoSlab-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/roboto-slab/RobotoSlab-Bold.eot');
    src: url('/fonts/roboto-slab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto-slab/RobotoSlab-Bold.woff2') format('woff2'),
    url('/fonts/roboto-slab/RobotoSlab-Bold.woff') format('woff'),
    url('/fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype'),
    url('/fonts/roboto-slab/RobotoSlab-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}